<section id="hero" class="text-center animated slideInUp">
  <div class="jumbotron">
    <h1 class="display-3"><%= t('hero.heading') %></h1>
    <p class="lead"><%= t('hero.first-paragraph') %></p>
    <hr class="my-4">
    <p><%= t('hero.second-paragraph') %></p>
  </div>
</section>

<section id="products" class="animated fadeIn">
  <header class="text-center">
    <%= content_tag :h2, t('sections.products.name'), class: 'display-4' %>
  </header>
  <div class="row">
    <div class="col-lg-4 mb-4">
      <div class="card plan-basic text-center">
        <div class="card-header card-inverse">
          <h3 class="card-title"><%= t('products.starter.name') %></h3>
        </div>
        <div class="card-block">
          <ul class="card-text list-unstyled">
            <li><%= fa_icon 'mobile', text: t('features.responsive-design.name'), class: 'fa-fw' %> <%= info_tooltip t('features.responsive-design.info') %></li>
            <li><%= fa_icon 'server', text: t('features.web-hosting.name'), class: 'fa-fw' %></li>
            <li><%= fa_icon 'link', text: t('features.domain.name'), class: 'fa-fw' %></li>
          </ul>
        </div>
        <div class="card-footer">
          <a class="btn btn-primary" href="mailto:info@nimbyte.com"><%= t('products.get') %></a>
        </div>
      </div>
    </div>
    <div class="col-lg-4 mb-4">
      <div class="card plan-pro text-center">
        <div class="card-header card-inverse">
          <h3 class="card-title"><%= t('products.pro.name') %></h3>
        </div>
        <div class="card-block">
          <ul class="card-text list-unstyled">
            <li><%= fa_icon 'plus', text: t('features.starter-plus.name'), class: 'fa-fw' %></li>
            <li><%= fa_icon 'search', text: t('features.seo.name'), class: 'fa-fw' %> <%= info_tooltip t('features.seo.info') %></li>
            <li><%= fa_icon 'bolt', text: t('features.speed.name'), class: 'fa-fw' %></li>
            <li><%= fa_icon 'globe', text: t('features.cdn.name'), class: 'fa-fw' %> <%= info_tooltip t('features.cdn.info') %></li>
            <li><%= fa_icon 'line-chart', text: t('features.analytics.name'), class: 'fa-fw' %> <%= info_tooltip t('features.analytics.info') %></li>
            <li><%= fa_icon 'lock', text: t('features.tls.name'), class: 'fa-fw' %> <%= info_tooltip t('features.tls.info') %></li>
            <li><%= fa_icon 'shield', text: t('features.ddos.name'), class: 'fa-fw' %> <%= info_tooltip t('features.ddos.info') %></li>
          </ul>
        </div>
        <div class="card-footer">
          <a class="btn btn-primary" href="mailto:info@nimbyte.com"><%= t('products.get') %></a>
        </div>
      </div>
    </div>
    <div class="col-lg-4 mb-4">
      <div class="card plan-premium text-center">
        <div class="card-header card-inverse">
          <h3><%= t('products.premium.name') %></h3>
        </div>
        <div class="card-block">
          <ul class="card-text list-unstyled">
            <li><%= fa_icon 'plus', text: t('features.pro-plus.name'), class: 'fa-fw' %></li>
            <li><%= fa_icon 'wrench', text: t('features.cms.name'), class: 'fa-fw' %> <%= info_tooltip t('features.cms.info') %></li>
            <li><%= fa_icon 'language', text: t('features.i18n.name'), class: 'fa-fw' %> <%= info_tooltip t('features.i18n.info') %></li>
            <li><%= fa_icon 'commenting', text: t('features.live-chat.name'), class: 'fa-fw' %></li>
          </ul>
        </div>
        <div class="card-footer">
          <a class="btn btn-primary" href="mailto:info@nimbyte.com"><%= t('products.get') %></a>
        </div>
      </div>
    </div>
  </div>
</section>
